img {
  width: 100px;
  height: 400px;
  object-fit: cover;
}
.carousel::after {
  content: "";
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, rgb(86, 87, 83), transparent);
  position: absolute;
  bottom: 0;
}
#logotipoimg {
  width: 100px;
  height: 100px;
}
.col img {
  width: 100%;
  border-radius: 10px;
}
#bannerEmpresas {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.conteudo {
  display: flex;
}
.container .row {
  /* background-color: black;
  color: white;
  border-radius: 10px;
  width: 100%; */
}
.row ul li {
  list-style-type: none;
  /* background-color: black;
  color: white; */
}
.col {
  margin: auto;
}
